.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 11%;

    h1{
        font-size: 36px;
        font-weight: 500;
        margin-top: 19px;
    }

    .lorby-descr{
        font-size: 20px;
        font-weight: 400;
        margin-top: -16px;
    }

    img{
        margin-top: 19px;
    }

    .logout{
        font-size: 16px;
        font-weight: 500;
        margin-top: 53px;
        cursor: pointer;
    }

}

div.ReactModal__Overlay.ReactModal__Overlay--after-open{
    position: absolute !important;
    background: rgba(0, 0, 0, 0.5)!important;
    height: 132vh;
}
.logout-modal{
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 37%;
    margin-top: 26%;
    border-radius: 32px;
    width: 26%;
    height: 27%;
    border: none;
    outline: none;

    h3{
        font-size: 20px;
        font-weight: 500;
        margin-top: 9%;
    }

    h4{
        color: grey;
        font-weight: 500;
        margin-top: 1%;
    }

    button{
        font-family: "M PLUS 1p", sans-serif;
        font-size: 16px;
        color: white;
        font-weight: 500;
        width: 84%;
        padding: 13px;
        border-radius: 12px;
        background: #292929;
        cursor: pointer;
        border: none;
        margin-top: 4px;
    }

    p{
        cursor: pointer;
        font-weight: 500;
        margin-top: 6%;
    }

}